<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd
                        http://www.springframework.org/schema/context
   						http://www.springframework.org/schema/context/spring-context.xsd
	">

	<b:bean id="password" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></b:bean>
	<http pattern="/resources/**" security="none"></http>
	<http>
		
		<intercept-url pattern="/manage/**" access="hasAuthority('admin')" />
		<intercept-url pattern="/cart/**" access="hasAuthority('user')" />
<!-- 		<intercept-url pattern="/login" access="permitAll"/> -->
		<intercept-url pattern="/**" access="permitAll" />
<!-- 		<intercept-url pattern="/**" access="hasAuthority('user')" /> -->
		<form-login login-page="/login" />
		<access-denied-handler error-page="/access-denied"/>
<!-- 		<logout/> -->
	</http>

	<context:component-scan base-package="net.kzn.shoppingbackend"></context:component-scan>
	
	<authentication-manager>
		<authentication-provider>
			<password-encoder ref="password"></password-encoder>
    		<jdbc-user-service data-source-ref="datasource"
    			users-by-username-query="select email,password,enablee from user_details where email = ? "
    			authorities-by-username-query="select email,role from user_details where email = ?"
    		/>
		</authentication-provider>
	</authentication-manager>

</b:beans>